html {
  font-family: "Arial", Helvetica, sans-serif;
  font-size:.8em;
}

.inner-content{
    margin-left:10%;
    width:80%;
    margin-right:10%;
}

.nav {
    max-height: 15%;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    background-color:#d5e1dd;
    display:block;
    overflow:hidden;
}

.nav img{
    display: inline-block;
    height: auto;
    max-width: 100%;
    position: relative;
    float:left;
    padding-right:25px;
}

.nav-btn-group{
    padding-top:50px;
    margin-left:220px;
}

.topArea{
    height:38px;
}

.cartBtn{
    display: inline-block;
    float:right;
    position:relative;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;

}

.nav-btn-group a{
    display: inline-block;
    float:left;
    position:relative;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right:4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border:solid;
}

.sidebar{
    position:relative;
    float:left;
    width:15%;
    height:80%;
    background-color:#9B9B8C;
}

.main-content{
    position:relative;
    margin-left:15%;
    width:85%;
    height:80%;
    background-color:#ffffff;
}

.sidebar a{
    color:2b3e42;   
    text-overflow:ellipsis;
    white-space:nowrap;
}

.sidebar ul{
    list-style-type: none;
    padding: 0 0 0 0;
    width:80%;
    padding-left:10%;
    padding-right:10%;
}

.sidebar h3{
    margin-left:8px;
    margin-bottom:1px;
}

.sidebar li{
    padding: 1px 10px 1px 5px;
    font-size:1em;
}

button:hover{
    background-color:#f7f3e8;
    border-color:#000000;
    border-width:1px;
}

a {
    color: #428bca;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #000000;
}
    
.pull-right{
    float:right !important;
}

.pull-left{
    float: left !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.col-1{
    width: 8.33333%;
}

.col-2{
    width: 16.66667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width:33.33333%;
}

.col-5 {
    width: 41.66667%; 
}

.col-6 {
    width: 50%; 
}

.col-7 {
    width: 58.33333%; 
}

.col-8 {
    width: 66.66667%; 
}

.col-9 {
    width: 75%; 
}

.col-10 {
    width: 83.33333%; 
}

.col-11 {    
    width: 91.66667%; 
}

.col-12 {
    width: 100%; 
}

.col-offset-1 {
    position: relative;
    margin-left: 8.33333%; 
}

.col-offset-2 {
    position: relative;
    margin-left: 16.66667%; 
}

.col-offset-3 {
    position: relative;
    margin-left: 25%; 
}

.col-offset-4 {
    position: relative;
    margin-left: 33.33333%; 
}

.col-offset-5 {
    position: relative;
    margin-left: 41.66667%; 
}

.col-offset-6 {
    position: relative;
    margin-left: 50%; 
}

.col-offset-7 {
    position: relative;
    margin-left: 58.33333%; 
}

.col-offset-8 {
    position: relative;
    margin-left: 66.66667%; 
}

.col-offset-9 {
    position: relative;
    margin-left: 75%; 
}

.col-offset-10 {
    position: relative;
    margin-left: 83.33333%; 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left:0px;
}

.main-content h3{
    padding-left:10px;
}

.featured {
    width:95%;
    margin-left:2.5%;   
    margin-right:2.5%;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#F7F3E8;
    height:140px;
    overflow-x:auto;
}

.featured-item {
    height:100px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:15px;
    margin-left:15px;
    width:160px;
    position:relative;
    float:left;
    border:solid;
    border-width:1px;
}

.featured-item p{
    color:#000000;
    font-size:75%;
    padding-bottom:4px;
    margin:0;
    padding-left:5%;
    font-weight:bold;
}

.featured-item img{
    height:80px;
    padding-left:5%;
    padding-right:5%;
    float:left;
    position:relative;
}

.featured-item ul{
    list-style-type: none;
    padding:0;
    font-size:10px;
}

.computer-section {
    position:relative;
    float:left;
    width:33%;
    margin-bottom:50px;
}

.computer-section h1{
    margin:0;
    padding:0;
    width:67%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

.computer-section h3{
    margin:0;
    margin-right:50px;
    padding:0;
    display:inline;
    position:relative;
    float:right;
}

.computer-section img{
    width:50%;
    display:block;
    float:left;
}

.compspecs{
    width:50%;
    margin-left:50%;
    display:block;
    position:relative;
    padding-right:10px;
}

.compspecs label, strong{
    float:left;
    display: block;
    position:relative;
}