html {
  font-family: sans-serif;
}

.inner-content{
    margin-left:10%;
    width:80%;
    margin-right:10%;
}

.nav {
    max-height: 15%;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    background-color:#cccccc;
    display:block;
    overflow:hidden;
}

.nav img{
    display: inline-block;
    height: auto;
    max-width: 100%;
    position: relative;
    float:left;
    padding-right:25px;
}

.nav-btn-group{
    padding-top:25px;
}

.nav-btn-group button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius:0 120px 0 120px;
}

.sidebar{
    position:relative;
    float:left;
    width:15%;
    height:80%;
    background-color:#ccc000;
}

.main-content{
    position:relative;
    margin-left:15%;
    width:85%;
    height:80%;
    background-color:#bbbccc;
    }

button:hover{
    background-color:#049cdb;
    border-color:#000000;
    border-width:1px;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover{
    color: #000000;
}
    
.pull-right{
    float:right !important;
}

.pull-left{
    float: left !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.col-1{
    width: 8.33333%;
}

.col-2{
    width: 16.66667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width:33.33333%;
}

.col-5 {
    width: 41.66667%; 
}

.col-6 {
    width: 50%; 
}

.col-7 {
    width: 58.33333%; 
}

.col-8 {
    width: 66.66667%; 
}

.col-9 {
    width: 75%; 
}

.col-10 {
    width: 83.33333%; 
}

.col-11 {    
    width: 91.66667%; 
}

.col-12 {
    width: 100%; 
}

.col-offset-1 {
    position: relative;
    margin-left: 8.33333%; 
}

.col-offset-2 {
    position: relative;
    margin-left: 16.66667%; 
}

.col-offset-3 {
    position: relative;
    margin-left: 25%; 
}

.col-offset-4 {
    position: relative;
    margin-left: 33.33333%; 
}

.col-offset-5 {
    position: relative;
    margin-left: 41.66667%; 
}

.col-offset-6 {
    position: relative;
    margin-left: 50%; 
}

.col-offset-7 {
    position: relative;
    margin-left: 58.33333%; 
}

.col-offset-8 {
    position: relative;
    margin-left: 66.66667%; 
}

.col-offset-9 {
    position: relative;
    margin-left: 75%; 
}

.col-offset-10 {
    position: relative;
    margin-left: 83.33333%; 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left:0px;
}